<div class="container-lg">
    <div class="md-card">
        <div class="md-card-heading bg-primary">
            <div class="md-card-title">Whiteframe</div>
        </div>
        <div class="md-card-body">
            <div class="card shadow-z1">
                <div class="card-body">
                    <p class="my-3 text-center">.shadow-z1</p>
                </div>
            </div>
            <div class="card shadow-z2">
                <div class="card-body">
                    <p class="my-3 text-center">.shadow-z2</p>
                </div>
            </div>
            <div class="card shadow-z3">
                <div class="card-body">
                    <p class="my-3 text-center">.shadow-z3</p>
                </div>
            </div>
            <div class="card shadow-z4">
                <div class="card-body">
                    <p class="my-3 text-center">.shadow-z4</p>
                </div>
            </div>
            <div class="card shadow-z5">
                <div class="card-body">
                    <p class="my-3 text-center">.shadow-z5</p>
                </div>
            </div>
        </div>
    </div>
</div>
