<div class="container-home animated fast mt-3">

  <div class="nuevoa text-center w-100 pt-2 pb-2 animated fast">
    <h1 class="text-light">
      Nuevo Árbol
    </h1>
  </div>



  <div class="container mt-4 animated fast fadeIn">
    <div class=" col">

      <!-- selecciona la fruta desde aqui -->
      <form action="">
        <div class="form-group">
          <label for="exampleFormControlSelect1"></label>
          <select class="form-control" id="exampleFormControlSelect1" required [(ngModel)]="arbol.nom_especie"
            name="nombre">
            <option selected>Seleccione un Arbol...</option>
            <option>Manzano</option>
            <option>Naranjo</option>
            <option>Ciruelo</option>
            <option>Frutilla</option>
            <option>Damasco</option>
            <option>Mandarina</option>
            <option>Limon</option>
            <option>Palta (Aguacate)</option>
            <option>Higuera</option>
            <option>Peral</option>
            <option>Granada</option>
            <option>Nogal</option>
            <option>Toronja</option>
            <option>Pomelo</option>
            <option>Parral</option>
            <option>Menbrillo</option>
          </select>
        </div>
      </form>

      <!-- coloca la direccion aqui -->
      <div class="form-group animated fast fadeIn">
        <label for="inputAddress"></label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Ubicación o Dirección" required
          maxlength="100" minlength="1" [(ngModel)]="arbol.direccion">
      </div>

    </div>


    <div class="col animated fast fadeIn">
      <!-- utilice de la carpeta maps el mapa que mejor me parecio los demas los comente -->
      <app-google class="w-100"></app-google>

    </div>



    <div class="col animated fast fadeIn">

      <!-- aqui selecciona un archivo img para subirlo -->
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFileLangHTML">
        <label class="custom-file-label" for="customFileLangHTML" data-browse="Subir">Sube una imagen de tu
          Árbol...</label>
      </div>

    </div>
    <!-- o sube un link de alguna imagen -->
    <div class="form-group animated fast fadeIn">
      <label for="inputAddress"></label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Link o enlace web de una imagen del arbol"
        required maxlength="100" minlength="1" [(ngModel)]="arbol.galeria">
    </div>

    <div class="text-center mt-3 mb-5 animated fast fadeIn">
      <button class="btn btn-success btn-sx" type="button" (click)="guardarArbol()">Confirmar</button>
    </div>

  </div>

</div>
