

<div *ngIf="arbol!=undefined" class="card">
    <img  src="{{arbol.galeria}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{arbol.nom_especie}}</h5>
      <p class="card-text">Cantidad: {{solicitud.cantidad}}</p>
      <p class="card-text">Retiro: {{solicitud.fecha}} - {{solicitud.hora}}</p>
      <p class="card-text">Recolector: {{arbol.direccion}}</p>
      <p class="card-text">DNI: {{arbol.direccion}}</p>
      <p class="card-text">Teléfono: {{arbol.direccion}}</p>

    </div>
    
  </div>
  