

<div *ngIf="arbol!=undefined" class="card container">
    <img  src="{{arbol.galeria}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{arbol.nom_especie}}</h5>
      <div *ngIf="solicitud.acepta_familia">
        <p class="card-text" >Cantidad: {{solicitud.cantidad}}</p>
        <p class="card-text">Retiro: {{solicitud.fecha}},  {{solicitud.hora}}</p>
      </div>
      <div *ngIf="solicitud.recolector">
        <p class="card-text">Recolector: {{recolector.nomyape}}</p>
        <p class="card-text">DNI: {{recolector.dni}}</p>
        <p class="card-text">Teléfono: {{recolector.num_contacto}}</p>
      </div>
      

    </div>
    
  </div>
  