<div class="container-home animated fast fadeIn mt-3">

  <div class="nuevoa text-center w-100 pt-2 pb-2 animated fast">
    <h1 class="text-light">
      Editar Informacion
    </h1>
  </div>


  <div class="row mt-3 mb-3 animated fast">

    <div class="col-10 mr-auto ml-auto">

      <form action="">

        <!-- <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="isFamilia"
            checked (change)="onItemChange($event.target.value)">
          <label class="form-check-label" for="exampleRadios1">
            Familia.
          </label>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="isOrganizacion"
            (change)="onItemChange($event.target.value)">
          <label class="form-check-label" for="exampleRadios2">
            Organización.
          </label>
        </div> -->

        <div class="form-group">
          <label for="exampleInputEmail1">Nombre de la Organización</label>
          <input type="text" class="form-control" maxlength="100" required id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Éste campo es Obligatorio</small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Tipo de Organización</label>
          <input type="text" class="form-control" required maxlength="50" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Éste campo es Obigatorio</small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Correo Electronico</label>
          <input type="email" class="form-control" required maxlength="150" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Ingrese el Correo de la Organización</small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Contraseña</label>
          <input type="password" class="form-control" required minlength="6" maxlength="12" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="6 - 12">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Repita la Contraseña</label>
          <input type="password" class="form-control" required minlength="6" maxlength="12" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Resumen de Organización</label>
          <textarea type="text" class="form-control" required maxlength="250" id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Ingrese una breve reseña o descripción que caracterise a la organizacion, para llamar la atención de los donantes, como tambien datos para compartir."></textarea>
          <small id="emailHelp" class="form-text text-muted">Éste campo es Obligatorio y no debe exeder los 250
            Caracteres </small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Nombre del Representante</label>
          <input type="text" class="form-control" maxlength="150" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Campo Obligatorio. No más de 150 caracteres</small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Correo Electronico</label>
          <input type="email" class="form-control" required maxlength="150" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Complete los datos con el Correo del representante.</small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">D.N.I. N°</label>
          <input type="text" class="form-control" required maxlength="9" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Nunca compartiremos sus datos con nadie más</small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Numero Telefonico de Contacto</label>
          <input type="text" class="form-control" required maxlength="20" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"> Campo Obligatorio </small>
        </div>

      </form>

      <div class="custom-file col-6 animated fast">
        <input type="file" class="custom-file-input" id="customFileLangHTML">
        <label class="custom-file-label" for="customFileLangHTML" data-browse="Subir">Logo</label>
      </div>

    </div>

  </div>

  <div class="row mt-3 animated fast">

    <div class="col-8 ml-auto mr-auto mt-3">

      <a type="sumit" class="btn btn-primary btn-block" href="">Confirmar</a>

    </div>

    <div class="col-8 ml-auto mr-auto mt-3">

      <a type="reset" class="btn btn-danger btn-block" href="">Eliminar</a>

    </div>

  </div>














</div>
