<div class="container-home animated fast">

  <div class="nuevoa animated fast fadeIn text-center w-100 pt-2 pb-2 mb-5">
    <h1 class="text-light">
      Mis Solicitudes
    </h1>
  </div>

  <div class="animated fast fadeIn">


    <h3 class="btn-outline-success container-fluid text-center btn-block mb-3  p-3 rounded-left rounded-right">
      Confirmadas</h3>

    <div class="animated fast fadeIn" *ngFor="let solicitud of solicitudesConfirmadas">
      <app-cardsolicitud [solicitud]="solicitud"></app-cardsolicitud>
    </div>

    <h3 class=" btn-outline-success container-fluid text-center btn-block mb-3  p-3 rounded-left rounded-right">
      Solicitudes de
      Organizaciones</h3>

    <div class="animated fast fadeIn" *ngFor="let solicitud of solicitudesDeOrganizaciones">
      <app-cardsolicitud [solicitud]="solicitud"></app-cardsolicitud>
    </div>

    <h3 class=" btn-outline-success container-fluid text-center btn-block mb-3  p-3 rounded-left rounded-right">
      Pendiente de
      confirmación del
      recolector
    </h3>


  </div>

  <div class="animated fast fadeIn" *ngFor="let solicitud of solicitudesPendientes">
    <app-cardsolicitud [solicitud]="solicitud"></app-cardsolicitud>
  </div>

</div>
