<div class="container-home animated fast fadeIn mt-3">

  <div class="nuevoa text-center w-100 pt-2 pb-2 animated fast">
    <h1 class="text-light">
      Familia
    </h1>
  </div>

  <div class="row animated fast">
    <div class="col-10 mr-auto ml-auto my-3">
      <app-familiacard [familia]="familia"></app-familiacard>
    </div>
  </div>



  <div class="row animated fast">

    <div class="col-8 ml-auto mr-auto">

      <a type="sumit" class="btn btn-primary text-white btn-block" [routerLink]="['/familias']"
        routerLinkActive="router-link-active">Volver</a>

    </div>

    <div class="col-8 ml-auto mr-auto mt-3">

      <a type="reset" class="btn btn-danger text-white btn-block" href="">Eliminar</a>

    </div>

  </div>




</div>
