<div class="card mb-3 mr-auto ml-auto mt-3" style="max-width: 90%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../../../../../../assets/img/user/04.jpg" class="card-img" alt="Recolectors">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Recolector:</h5>
        <p class="card-text">Nombre:...</p>
        <p class="card-text">DNI:...</p>
        <p class="card-text">Telefono:...</p>
        <!-- <a class="btn btn-outline-success btn-block" href="">Editar</a> -->
      </div>
    </div>
  </div>
</div>
