<div class="card mb-3 mr-auto ml-auto mt-3" style="max-width: 90%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{recolector.picture}}" class="card-img" alt="..">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{recolector.nomyape}}</h5>
        <p class="card-text">DNI: {{recolector.dni}}</p>
        <p class="card-text">Teléfono: {{recolector.num_contacto}}</p>
        <!-- <a class="btn btn-outline-success btn-block" href="">Editar</a> -->
      </div>
    </div>
  </div>
</div>
