<div class="container-home animated fast fadeIn mt-3">

  <div class="nuevoa text-center w-100 pt-2 pb-2 animated fast">
    <h1 class="text-light">
      Solicitud de Donación
    </h1>
  </div>
  <!-- En esta cards tendria que hacer que se vea la cards selecionada y pase los parametros a esta que esta de un modo orizontal segun la pantalla -->
  <div class="card mb-3 mt-3 ml-auto mr-auto animated fast" style="max-width: 90%;">
    <ng-container *ngIf="arbol">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{arbol.galeria}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title">{{arbol.nom_especie}}</h2>
            <p class="card-text">{{arbol.direccion}}</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- NUEVA SOLICITUD VISTA DESDE FAMILIA -->

  <div class="row ml-auto mr-auto mb-3 animated fast" style="max-width: 90%;">

    <!-- seleciona la organizacion -->
    <div class="col-12">

      <select name="seleccionOrganizacion" class="custom-select custom-select-lg mb-3" [(ngModel)]="organizacionSelect">
        <option hidden selected>Organización</option>
        <option *ngFor="let org of organizaciones" [value]="org.id">{{org.nombre}}</option>
      </select>
    </div>

    <div class="col-6">

      <input class="form-control form-control-lg" type="number" placeholder="Cantidad" [(ngModel)]="cantidad">


    </div>

    <div class="col-6 animated fast">
      <!-- selecciona si es por unidades o kilogramo -->
      <select class="custom-select custom-select-lg mb-3" [(ngModel)]="unidades">
        <option selected>Unidad</option>
        <option value="1">Kilogramos</option>
        <option value="2">Unidades</option>
      </select>

    </div>

    <div class="col-6">
      <!-- seleciona la fecha -->
      <input class="form-control form-control-lg" type="date" [(ngModel)]="fecha">


    </div>

    <div class="col-6">
      <!-- seleciona la hora -->
      <input class="form-control form-control-lg" type="time" name="" id="" [(ngModel)]="hora">

    </div>

  </div>
  <!-- boton de confirmacion -->
  <div class="text-center mt-3 mb-5">
    <button class="btn btn-success btn-sx" type="button" (click)="confirmarSolicitud()">Confirmar</button>
  </div>


</div>
