<div class="container-home animated fast fadeIn">

  <div class="nuevoa text-center w-100 pt-2 pb-2">
    <h1 class="text-light">
      Solicitud de Donación
    </h1>
  </div>
  <!-- En esta cards tendria que hacer que se vea la cards selecionada y pase los parametros a esta que esta de un modo orizontal segun la pantalla -->
  <div class="card mb-3 mt-3 ml-auto mr-auto animated fast" style="max-width: 90%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../../../../assets/img/mangues.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Nombre de la fruta</h2>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Direccion</small></p>
        </div>
      </div>
    </div>
  </div>


  <div class="row ml-auto mr-auto mb-3 animated fast" style="max-width: 90%;">

    <!-- seleciona la organizacion -->
    <div class="col-12">

      <select class="custom-select custom-select-lg mb-3">
        <option selected>Organización</option>
        <option value="1">AArEII</option>
        <option value="2">ANEIEM </option>
        <option value="3">Unión Vecinal de Trinidad </option>
        <option value="4">CEII</option>
        <option value="5">Unión Vecinal de Rivadavia</option>
      </select>

    </div>

    <div class="col-6">

      <input class="form-control form-control-lg" type="number" placeholder="Cantidad">


    </div>

    <div class="col-6 animated fast">
      <!-- selecciona si es por unidades o kilogramo -->
      <select class="custom-select custom-select-lg mb-3">
        <option selected>Unidad</option>
        <option value="1">Kilogramos</option>
        <option value="2">Unidades</option>
      </select>

    </div>

    <div class="col-6">
      <!-- seleciona la fecha -->
      <input class="form-control form-control-lg" type="date">


    </div>

    <div class="col-6">
      <!-- seleciona la hora -->
      <input class="form-control form-control-lg" type="time" name="" id="">

    </div>

  </div>
  <!-- boton de confirmacion -->
  <div class="text-center mt-3 mb-5">
    <button class="btn btn-outline-success btn-sx" type="button">Confirmar</button>
  </div>


</div>
