<div class="card">
  <img src="/assets/img/mangues.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Especie...</h5>
    <p class="card-text">Dirección: ... </p>
    <p class="card-text">Fecha de Cosecha:...</p>
    <p class="card-text"><small class="text-muted">Retirar:...</small></p>
  </div>
  <div class="mb-2 ml-3 mb-2 ">
    <label class="mda-checkbox">
      <input type="checkbox" checked="" />
      <em class="bg-green-500"></em>Hacer Publico...</label>
  </div>
  <a class="btn btn-outline-success btn-block mb-1" href="#/">¡ Quiero Donar !</a>
</div>
