<div class="container-home animated fast fadeIn mt-3">

  <div class="nuevoa text-center w-100 pt-2 pb-2 animated fast">
    <h1 class="text-light">
      Recolectores
    </h1>
  </div>



  <div class="col-10 ml-auto mr-auto my-3" (click)="nuevoRecolector()">
    <a class="btn btn-success btn-block text-white">Agregar Recolector</a>
  </div>



  <div class="col-10 mr-auto ml-auto">


    <a class="btn btn-block bg-white border-success" *ngFor="let recolector of recolectores"
      [routerLink]="['/recolectores/detallerecolector',recolector.dni]" routerLinkActive="router-link-active">

      <app-cardrecolector [recolector]="recolector"></app-cardrecolector>

    </a>

  </div>









</div>
<router-outlet></router-outlet>
