<div class="card mb-3 border-success " style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4 align-self-center">
      <img src="{{organizacion.logo}}" class="card-img p-2" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-success">{{organizacion.nombre}}</h5>
        <p class="card-text">
          {{organizacion.descripcion}}
        </p>
        <p class="card-text">
          Representante: {{representante.nomyape}}
        </p>
        <p class="card-text"><small class="text-muted">{{organizacion.mail}}</small></p>
      </div>
    </div>
  </div>
</div>
