<div class="container animated fast mt-3">
  <div class="nuevoa text-center w-100 pt-2 pb-2">
    <h1 class="text-light">
      Solicitud
    </h1>
  </div>

  <div class="row mt-5 animated fast fadeIn">
    <div class="col-12">

      <select class="custom-select custom-select-lg mb-3">
        <option selected>Recolector</option>
        <option value="1">Fede Galdeano</option>
        <option value="2">Augusto Giacone</option>
        <option value="3">Mariano Perez</option>
        <option value="4">Emiliano Castro</option>
        <option value="5">Martin Lora Jorge</option>
      </select>

    </div>
  </div>




  <!-- SOLICITUD VISTA DESDE ORGANIZACION -->


  <!-- aqui hay que poer la card Detalleorganizacion -->
  <div class=" w-100  animated fast fadeIn">
    <app-detalleorganizacion [solicitud]="solicitud"></app-detalleorganizacion>
  </div>






  <div class="row text-center mt-3 animated fast fadeIn">
    <div class="col-6">
      <a href="/#" class="btn btn-danger py-2 px-4 btn-xs">Rechazar</a>
    </div>
    <div class="col-6">
      <a href="/#" class="btn btn-success py-2 px-4 btn-xs">Aceptar</a>
    </div>
  </div>
