<div class="container-home animated fast fadeIn mt-3">

  <div class="nuevoa text-center w-100 pt-2 pb-2 animated fast">
    <h1 class="text-light">
      Detalle Recolector
    </h1>
  </div>

  <div class="row mt-3 mb-3 animated fast">

    <div class="col-10 mr-auto ml-auto">

      <form action="">

        <div class="form-group">
          <label for="exampleInputEmail1">Nombre del recolector</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Éste campo es Obligatorio</small>
        </div>


        <div class="form-group">
          <label for="exampleInputEmail1">D.N.I. N°</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Campo Obligatorio</small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Numero Telefonico de Contacto</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"> Campo Obligatorio </small>
        </div>

      </form>

      <div class="custom-file col-6 animated fast">
        <input type="file" class="custom-file-input" id="customFileLangHTML">
        <label class="custom-file-label" for="customFileLangHTML" data-browse="Subir">Foto de perfil</label>
      </div>

    </div>

  </div>



  <div class="col-10 ml-auto mr-auto my-3 animated fast">
    <button type="button" class="btn btn-primary text-white btn-block">Editar Datos</button>
  </div>

  <div class="col-10 ml-auto mr-auto my-3 animated fast">
    <button type="button" class="btn btn-danger text-white btn-block">Eliminar Recolector</button>
  </div>


</div>
