@import "../../../../shared/styles/bootstrap/functions";
@import "../../../../shared/styles/bootstrap/variables";
@import "../../../../shared/styles/bootstrap/mixins";
@import '../../../../shared/styles/app/variables';

@import '../../../../../../../node_modules/angular-tree-component/dist/angular-tree-component.css';

.code-editor {
    position: relative;
    bottom: -1px;
    height: 100%;

    .code-editor-files {
        width: 100%;
        height: 30%;
        @include media-breakpoint-up(sm) {
            width: 240px;
            height: 100%;
        }
    }

    .code-editor-area {
        height: 70%;
        @include media-breakpoint-up(sm) {
            height: 100%;
        }
    }

    .code-editor-area-editor,
    .code-editor-files-tree {
        overflow: auto;
    }

    .CodeMirror {
        height: 100%;
    }
}
