.col-8{
    max-width: 40%;
    flex: 40%
}
#imagenContainer{
    padding: 5%;
}
.card-body{
    padding: 2%;
    max-width: 60%;
}
.card{
    width: 95%;
}
#vermas{
    bottom: 1%;
    position: absolute;
    right: 1%;
}