<!-- esta Card se va a repetir varias veces en mis solicitudes (pantalla) -->

<!-- confirmadas -->

<div class="card border-success mr-auto ml-auto mt-3 mb-3" style="width: 90%;">
  <div class="card-header">Nombre de Arbol</div>
  <div class="card-body text-success">
    <h5 class="card-title">Organizacion:...</h5>
    <p class="card-text">Fecha y horario de retiro:...</p>
  </div>
  <a href="#/" class="text-right">Ver mas...</a>
</div>


<!-- Solicitud de Organizacion -->

<div class="card border-success mr-auto ml-auto mt-3 mb-3" style="width: 90%;">
  <div class="card-header">Organizacion</div>
  <div class="card-body text-success">
    <p class="card-text">A (organizacion) le intereza retirar los frutos de sobra de tu (Arbol Nombre)</p>
  </div>
  <a href="#/" class="text-right">Ver mas...</a>
</div>

<!-- Pendientes de Confirmacion del recolector -->

<div class="card border-success mr-auto ml-auto mt-3 mb-3" style="width: 90%;">
  <div class="card-header">Nombre de Arbol</div>
  <div class="card-body text-success">
    <h5 class="card-title">Organizacion:...</h5>
    <p class="card-text">Fecha y horario de retiro:...</p>
  </div>
</div>
