<!-- esta Card se va a repetir varias veces en mis solicitudes (pantalla) -->

<!-- confirmadas y Pendientes son iguales, esta bien este componente, solicitud de organizacion se muestra distinto,-->
<!-- asi que es un componente aparte, movi su css a cardsolicitud de organizacion -->

<div class="card border-success mr-auto ml-auto mt-3 mb-3" (click)="abreSolicitud()">

  <div class="row no-gutters">
    <!-- <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div> -->
    <div class="col-8">


      <div id="imagenContainer" class="card-header block">
        <img src="{{arbol.galeria}}" class="card-img-top" alt="...">
      </div>
      

    </div>
    <div class="card-body block">
      <div class="text-success">{{arbol.nom_especie}}</div>
      <div class="card-title">Organización: {{organizacion.nombre}}.</div>
      <div id="vermas">Ver más...</div>
    </div>
    <!-- <a *ngIf="isConfirmada()" [routerLink]="['/confirmadas']" routerLinkActive="router-link-active" class="text-right">Ver mas...</a> -->
    <!-- <a class="text-right">Ver mas...</a> -->
  </div>
  
</div>
