<!-- esta Card se va a repetir varias veces en mis solicitudes (pantalla) -->

<!-- confirmadas y Pendientes son iguales, esta bien este componente, solicitud de organizacion se muestra distinto,-->
<!-- asi que es un componente aparte, movi su css a cardsolicitud de organizacion -->

<div class="card border-success mr-auto ml-auto mt-3 mb-3" style="width: 90%;">

  <div class="row no-gutters">
    <!-- <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div> -->
    <div class="col-8">


      <div class="card-header">Organización: {{solicitud.organizacion}}.</div>
      <div class="card-header">Cantidad de árboles: {{solicitud.cantidadFrutales}}.</div>
      <div class="card-body text-success">
        <ul *ngFor="let arbol of solicitud.arboles">
          <li class="card-title">{{arbol.nombre}}: {{arbol.cantidad}}</li>
        </ul>
        <p class="card-text">Fecha y horario de retiro: {{solicitud.fecha}},{{solicitud.hora}} </p>

      </div>
      <a [routerLink]="['/confirmadas']" routerLinkActive="router-link-active" class="text-right">Ver mas...</a>
    </div>
  </div>
</div>
