agm-map {
    
    height: 450px;
  }
.card-body{
    padding: 1%;
}
.card{
    margin-bottom: 0px;
}
div.center{
    text-align: center;
}
.btn.btn-success{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 1.25rem;
    font-size: 130%;
}
p{
    margin-bottom: 6%;
}