<div class="home-container">

  <div class="card-columns">

    <a type="" href="#/">
      <div class="card b mb-3">
        <div class="card-header">
          <h3 class="mt-3 text-center text-green">AGREGAR <br> ARBÓL</h3>
        </div>
        <div class="card-body">
          ...
        </div>

      </div>
    </a>




    <app-cards></app-cards>




    <a type="remove" href="#/">
      <div class="card b mb-3">
        <div class="card-header">
          <h3 class="mt-3 text-danger text-center">QUITAR <br> ARBÓL.</h3>
        </div>
        <div class="card-body">
          ...
        </div>
      </div>
    </a>

  </div>
</div>
