<div class="container-home">

  <div class="nuevoa text-center w-100 pt-2 pb-2">
    <h1 class="text-light">
      Detalle de Donación
    </h1>
  </div>


  <div class="col-8 mr-auto ml-auto text-justify mt-3">

    <br>
    <br>
    <h4>Cantidad de Arboles:....</h4>
    <br>
    <br>
    <h4>Organización:....</h4>
    <br>
    <br>
    <h4>Fecha y Horario de Retiro:...</h4>


  </div>

  <div class="row">

    <div class="col">
      <div class="text-center mt-3 mb-5">
        <button class="btn btn-outline-warning btn-sx" type="button">Atras</button>
      </div>
    </div>

    <div class="col">
      <div class="text-center mt-3 mb-5">
        <button class="btn btn-outline-success btn-sx" type="button">Confirmar</button>
      </div>
    </div>

  </div>


</div>
