 <!-- <div class="list-group-item list-group-item-action"> -->
 <div class="container">




   <div class="row mda-list">

     <div class="col-2 mda-list-item media ml-0 mr-2">
       <img class="mda-list-item-img p-1" src="assets/img/user/01.jpg" alt="List user">
     </div>
     <div class="col-9 media-body ml-1">
       <p class="m-0"><a [routerLink]="['/homeorganizacion']" routerLinkActive="router-link-active">Familia Falsa</a>
       </p>
       <p class="m-0">no quiere donar en esta ocación.</p>
     </div>






     <div class="col-2 mda-list-item media ml-0 mr-2">
       <img class="mda-list-item-img p-1" src="assets/img/user/01.jpg" alt="List user">
     </div>
     <div class="col-9 media-body ml-1">
       <p class="m-0"><a [routerLink]="['/homeorganizacion']" routerLinkActive="router-link-active">Familia Falsa </a>
       </p>
       <p class="m-0">ha aceptado donar una parte de su frutal.</p>
     </div>





     <div class="col-2 mda-list-item media ml-0 mr-2">
       <img class="mda-list-item-img p-1" src="assets/img/user/01.jpg" alt="List user">
     </div>
     <div class="col-9 media-body ml-1">
       <p class="m-0"><a [routerLink]="['/homeorganizacion']" routerLinkActive="router-link-active">Familia Falsa </a>
       </p>
       <p class="m-0">te ha enviado una solicitud de donación.</p>
     </div>

   </div>


 </div>
 <!-- </div> -->
