.card{
    margin: 15px;
}
p{
    margin-bottom: 0.3rem;
}
.mda-checkbox{
    margin-bottom: 0.75rem;
}
.card-img-top{
    cursor: pointer;
}
html, body
{
	height: 100%;
}
#modalEliminar{
    top: 30% !important; 
}
.modal{
    padding: 0px;
}
#modalEliminar{
    padding: 5%;
}