<!-- para llamar a un dato del objeto es {{arbol.(propiedad que quiera llamar)}} -->
<!-- inserta el css del card tuyo aca -->
<div class="card">
  <img src="{{arbol.galeria}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{arbol.nom_especie}}</h5>
    <p class="card-text">{{arbol.direccion}}</p>

    <div class="">
      <label class="mda-checkbox">
        <input type="checkbox" checked="" />
        <em class="bg-green-500"></em>Hacer Publico...</label>
    </div>

    <div class="container">
      <a class="btn btn-success btn-block text-white" (click)="nuevaSolicitud()">Solicitud
        de Donación</a>
    </div>
  </div>

</div>
