<!-- para llamar a un dato del objeto es {{arbol.(propiedad que quiera llamar)}} -->
<!-- inserta el css del card tuyo aca -->
<div class="card" >
    <img src="{{arbol.imagen}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{arbol.nombre}}</h5>
      <p class="card-text">{{arbol.direccion}}</p>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted">Retirar:...</small></p>
    </div>
    <div class="mb-2 float-right mr-2">
      <label class="mda-checkbox">
        <input type="checkbox" checked="" />
        <em class="bg-green-500"></em>Hacer Publico...</label>
    </div>
    <hr>
    <a class="btn btn-outline-success btn-block mb-1" href="#/">Solicitud de Donación</a>
  </div>