<div class="container-home animated fast">

  <div class="nuevoa animated fast fadeIn text-center w-100 pt-2 pb-2">
    <h1 class="text-light">
      Solicitudes
    </h1>
  </div>


  <h3 class="text-center mt-3">Confirmadas</h3>

  <div class="animated fast fadeIn">
    <app-cardconforg></app-cardconforg>
  </div>




  <h3 class="text-center mt-3">Solicitudes de Recolección</h3>


  <div class="animated fast fadeIn">
    <app-cardsolirec></app-cardsolirec>
  </div>



  <h3 class="text-center mt-3 animated fast fadeIn">Pendiente de confirmación del recolector</h3>


  <div class="animated fast fadeIn">
    <app-cardconforg></app-cardconforg>
  </div>





</div>
